.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}


/* Styles from https://codepen.io/andradewall/pen/xNpPde?css-preprocessor=scss */
.container {
	background-color: #eee;
	width: 1000px;
	margin: 30px auto;
	
	display: grid;
	grid-template-rows: 150px 150px;
	grid-template-columns: 150px 150px 150px;
	
	//grid-row-gap: 30px;
	//grid-column-gap: 30px;
	grid-gap: 30px;
}

.item {
	padding: 20px;
	font-size: 20px;
	font-family: sans-serif;
	color: black;
	

}
